<section id="contact">
    <gl-paper>
        <div class="row justify-content-md-center">

            <div class="col-sm-auto">
                <div class="card">
                    <div class="card-header">
                        Location
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">I am currently based in Brisbane, that wonderful city!</h5>
                        <img src="assets/img/brisbane.jpeg" class="img-fluid" alt="Brisbane">
                    </div>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="card">
                    <div class="card-header">
                        Contact / Connect
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Please, keep in touch!</h5>
                        <pre>E-mail
> lfdgaliza@outlook.com 

LinkedIn
> linkedin.com/in/lfdgaliza

GitHub
> github.com/lfdgaliza</pre>
                    </div>
                </div>
            </div>
        </div>
    </gl-paper>
</section>