<section id="about-me-section" class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <p class="thats-me">That's me! :)</p>
      <img class="img-fluid" src="assets/img/me.png" align />
    </div>
    <div class="col-md-4 text-justify">
      <p>I have been a programmer since 2009, the year that I was called for a company after my teacher, in <a href="http://www.s2bprogram.com/" target="_blank"> Microsoft Students
        to Business</a> program, had indicated me for it. Almost two years later I was invited by another company to start a
        brand-new development area. For that to happen, I was able to develop not only a new web application but also a process
        which I made based on agile methodologies like Scrum and XP. This new area grew up and I could hire other staff including
        more programmers, analysts and a project manager.</p>

      <p>After a while I was invited to take another role, as technical sales, but, even though I brought winning contracts,
        I turned back as a programmer because this is my real passion.</p>

      <p>I am mainly a web developer and I like to work mainly with Microsoft’s technologies (.NET [standard and core], SQL
        Server, IIS, TFS, etc), Angular 2+ and AWS. Please take a look at the <a routerLink="/resume">skills section</a> to see the other ones.</p>
    </div>
  </div>

</section>