<section id="about-me-section" class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <p class="thats-me">That's me! :)</p>
      <img class="img-fluid" src="/assets/img/me.png" align />
    </div>
    <div class="col-md-4 text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl dui, pellentesque volutpat sapien vel, imperdiet mollis justo. Ut ac posuere nulla. Aenean in ante sit amet purus dignissim venenatis et eget sapien. Proin dignissim magna in magna auctor, sit amet tempor est elementum. Nam gravida eros eu orci dignissim laoreet. Donec malesuada neque erat, ac ullamcorper odio vestibulum in. Ut rhoncus orci at tellus hendrerit placerat. Mauris a elit id ante interdum cursus vitae nec leo. Integer vestibulum tristique leo sodales fringilla. 
    </div>
  </div>

</section>