<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Luiz Galiza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{'active': isActive('home')}">
                <a class="nav-link" routerLink="">
                    <span class="oi oi-home" title="home" aria-hidden="true"></span>
                    Home
                    <span *ngIf="isActive('home')" class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('resume')}">
                <a class="nav-link" routerLink="resume">Resume
                    <span *ngIf="isActive('resume')" class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('about')}">
                <a class="nav-link" routerLink="about">About
                    <span *ngIf="isActive('about')" class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>