<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark light-shadow">

    <a class="navbar-brand" href="#">
        <span style="font-family: 'Montserrat', sans-serif;">L Filipe D Galiza</span>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{'active': isActive('about-me')}">
                <a class="nav-link" routerLink="/about-me">
                    <span class="oi oi-person" title="About me" aria-hidden="true"></span>
                    About me
                    <span *ngIf="isActive('about-me')" class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('resume')}">
                <a class="nav-link" routerLink="/resume">
                    <span class="oi oi-thumb-up" title="Resume" aria-hidden="true"></span>
                    Resume
                    <span *ngIf="isActive('resume')" class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('about-this-project')}">
                <a class="nav-link" routerLink="/about-this-project">
                    <span class="oi oi-info" title="About this project" aria-hidden="true"></span>
                    About this project
                    <span *ngIf="isActive('about-this-project')" class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('contact')}">
                <a class="nav-link" routerLink="/contact">
                    <span class="oi oi-fullscreen-exit" title="Contact" aria-hidden="true"></span>
                    Contact
                    <span *ngIf="isActive('contact')" class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="view-source border border-danger light-shadow rounded-top">
    <a href="http://github.com/lfdgaliza/galiza" target="_blank">
        <img src="assets/img/ico/octocat.png" /> View source on GitHub
    </a>
</footer>