.active * {
    color: #FF5133 !important;
}

.container {
    margin-top: 2rem;
    padding: 3rem 0 3rem 0;
    background-color: white;
    width: 90%;
}

.view-source {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    background-color: white;
    padding: 0 1rem 0 1rem;
    margin-right: 3rem;
}