.navbar {
    
    top:0;
    width: 100%;
    z-index: 99999;
    opacity: .96;
}

.active * {
    color: lime;

    .oi-person {
        color: orange;
    }

    .oi-lightbulb {
        color: yellow !important;
    }

    .oi-thumb-up {
        color: turquoise;
    }

    .oi-fullscreen-exit {
        color: coral;
    }
}

.container {}

.view-source {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    background-color: white;
    padding: 0 1rem 0 1rem;
    margin-right: 3rem;
}