.skills-list {
    padding-left: .5rem;
    li {
        display: inline-block;
    }
    .highlight {
        cursor: help;
    }
}

@media (max-width: 992px) {
    .card {
        margin: 1rem;
    }
  }