<section id="about-this-project">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-auto">
        <!-- Angular 5 -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top border-bottom" src="/assets/img/my-stack/angular-5.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Angular 5</h5>
            <p class="card-text">The latest stable version available in the start of this project.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-auto">
        <!-- JS, CSS, HTML -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top border-bottom" src="/assets/img/my-stack/web-stack.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Web Stack</h5>
            <p class="card-text">
              Of course, the web stack was used here as well =)
            </p>
            <p class="card-text">
              Just a little improvement in case of CSS which I made use of SCSS because I would take advantage of some resources from SASS,
              but without losing compatibility of pure CSS.
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-auto">
        <!-- Bootstrap -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top border-bottom" src="/assets/img/my-stack/bootstrap-4.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bootstrap</h5>
            <p class="card-text">As I am rather a backend than frontend developer, I choose to make use of Bootstrap which gives me a really good
              grid system and compliance with the most modern patterns of the internet.</p>
            <p>Thinking a little about UX, it is good for my visitors to have a well-known and wide-used frontend pattern.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-auto">
        <!-- Git -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top border-bottom" src="/assets/img/my-stack/git.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Git</h5>
            <p class="card-text">This project is available on GitHub. Please,
              <a href="https://github.com/lfdgaliza/galiza" target="_blank">take a look</a>!</p>
            <p class="card-text">There is no backend code so you can just need to download it and run ng serve ;)</p>
            <p>Here is the URL just in case: https://github.com/lfdgaliza/galiza</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>