$highlight-color-foreground: #DB1E60;
$highlight-color-background: #FF80C2;

.highlight {
    color:  $highlight-color-foreground;
}

.highlight-legend {
    border: 1px solid $highlight-color-foreground;
    background-color: $highlight-color-background;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.smaller-font {
    font-size: .8em;
}